{{define "h2"}}Etcupdate{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name">
    <!-- Dropdown for action -->
    <select name="action" required>
        <option value="">Select action</option>
        <option value="bootstrap">Bootstrap</option>
        <option value="update">Update</option>
        <option value="diff">Diff</option>
        <option value="resolve">Resolve</option>
    </select>
    <input name="release" placeholder="Release">
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}