{{define "h2"}}Copy Files from Jail to Jail(s){{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="source_jail" placeholder="Source Jail" required>
    <input name="source_path" placeholder="Source Path" required>
    <input name="destination_jail" placeholder="Destination Jail" required>
    <input name="destination_path" placeholder="Destination Path" required>
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-q">
            <label>Suppress output.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}