{{define "h2"}}Set Resource Limits{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name" required>
    <select name="action" required>
        <option value="">Select action</option>
        <option value="add">Add</option>
        <option value="remove">Remove</option>
        <option value="clear">Clear</option>
        <option value="reset">Reset</option>
        <option value="stats">Stats</option>
        <option value="list">List</option>
        <option value="show">Show</option>
    </select>
    <input name="option" placeholder="Option" required>
    <input name="args" placeholder="Args (optional)">
    <input name="value" placeholder="Value">

    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-a">
            <label>Auto mode. Start/stop jail(s) if required.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-l">
            <label>Enable logging for the specified rule (RCTL only).</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}