{{ define "content" }}

{{ if .Nodes }}
<table class="nodes-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Host</th>
            <th>Port</th>
            <th>KeyID</th>
            <th>Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Nodes }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Host }}</td>
            <td>{{ .Port }}</td>
            <td>{{ .KeyID }}</td>
            <td>{{ .Key }}</td>
            <td>
                <form method="POST" action="/api/v1/node/delete">
                    <input type="hidden" name="node" value="{{ .Name }}">
                    <button type="submit" class="button">Delete</button>
                </form>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ else }}
    <p>No nodes configured.</p>
{{ end }}

<h2>Add Node</h2>

<form method="POST" action="/api/v1/node/add" class="node-form">
    <label>Name</label>
    <input type="text" name="node" required>

    <label>IP Address</label>
    <input type="text" name="host" required>

    <label>Port</label>
    <input type="text" name="port" value="8888" required>

    <label>Key ID</label>
    <input type="text" name="keyid" required>

    <label>Key</label>
    <input type="text" name="key" required>

    <button class="nodes-button" type="submit" class="button">Add Node</button>
</form>

{{ end }}
