{{define "h2"}}Configure Bastille{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <select name="action" required>
        <option value="">Select action</option>
        <option value="bridge">Bridge</option>
        <option value="linux">Linux</option>
        <option value="loopback">Loopback</option>
        <option value="netgraph">Netgraph</option>
        <option value="firewall">Firewall</option>
        <option value="storage">Storage</option>
        <option value="shared">Shared</option>
        <option value="vnet">Vnet</option>
    </select>
    <input name="args" placeholder="Args">
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-y">
            <label>Do not prompt. Assume always yes.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}