{{define "h2"}}Apply Templates{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name" required>
    <select name="action" required>
        <option value="">Select action</option>
        <option value="convert">Convert</option>
    </select>
    <input name="template" placeholder="Template" required>
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-a">
            <label>Auto mode. Start/stop jail(s) if required.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}