{{define "h2"}}Import a Jail{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="file" placeholder="File" required>
    <input name="release" placeholder="Release (optional)">
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-f">
            <label>Force an archive import without validating checksum.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-M">
            <label>Use a static/persistent MAC address (VNET only) when importing foreign jails.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-v">
            <label>Enable verbose mode (ZFS only).</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button class="template-button" type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}