{{define "h2"}}Migrate a Jail{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name" required>
    <input name="destination" placeholder="User@Host[:Port]" required>
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-a">
            <label>Auto mode. Start/stop jail(s) if required.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-b">
            <label>Keep archives on remote system.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-d">
            <label>Destroy local jail after migration.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="--doas">
            <label>Use 'doas' instead of 'sudo'.</label>
        </div>

        <div class="option-row">
            <input type="checkbox"
                   class="option-checkbox"
                   value="-k"
                   data-has-value="true"
                   data-target="keyfileInput">
            <label>Specify an alternative private keyfile name. Must be in '~/.ssh'.</label>
        </div>
        <div class="option-sub" id="keyfileInput" style="display:none;">
            <input type="text" placeholder="Keyfile">
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-l">
            <label>Migrate a running jail (ZFS only).</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-p">
            <label>Use password based authentication.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button class="template-button" type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}