{{define "h2"}}Monitor Jail(s){{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name">
    <select name="action" required>
        <option value="">Select action</option>
        <option value="enabel">Enable</option>
        <option value="disable">Disable</option>
        <option value="status">Status</option>
        <option value="add">Add</option>
        <option value="delete">Delete</option>
        <option value="list">List</option>
    </select>
    <input name="service" placeholder="Service">
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button class="template-button" type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}