{{define "h2"}}Unmount Volumes{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name" required>
    <input name="jail_path" placeholder="Jail Path" required>
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-a">
            <label>Auto mode. Start/stop jail(s) if required.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button class="template-button" type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}