.console-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#console-iframe-container {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: 10000;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.console-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.console-close-button {
    position: absolute;
    bottom: -50px;
    right: 10px;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10001;
    padding: 5px;
    line-height: 1;
}

.console-close-button:hover {
    background: #ff3333;
}
