.console-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#console-iframe-container {
    position: fixed;
    margin-left: 90px;      /* sidebar width */
    z-index: 100000;
    display: none;
    max-width: calc(100vw - 300px);
    max-height: calc(100vh - 200px);
}

@media (max-width: 720px) {
    #console-iframe-container {
        margin-left: 0;          /* move to left edge */
        left: 0;                 /* ensure left alignment */
        right: 0;                /* prevent overflow */
        max-width: 100vw;        /* full width */
    }
}

.console-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    z-index: 100000;
}

.console-close-button {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text-primary);
    background-color: var(--color-btn);
    border: none;
    border-radius: var(--btn-radius);
    font-size: 1.2em;
    font-weight: var(--btn-font-weight);
    cursor: pointer;
    z-index: 10000;
    padding: 5px;
    line-height: ;
}

.console-close-button:hover {
    background: #ff3333;
}
