.console-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    backdrop-filter: blur(5px);
}

#console-iframe-container {
    position: fixed;
    z-index: 100000;
    display: none;
    width:80%;
    height: 60%;
    max-width: 100%;
    max-height: 90%;
    top: 25%;
    left: 200px;
}

@media (max-width: 720px) {
    #console-iframe-container {
        left: 5%;                 /* ensure left alignment */
        right: 5%;                /* prevent overflow */
        top: 25%;
        height: 100%;
        width: 100%;
        max-width: 90%;        /* full width */
        max-height: 50%
    }
}

.console-iframe {
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    z-index: 100000;
}

.console-close-button {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-btn-text);
    background-color: var(--color-btn);
    border: none;
    border-radius: var(--btn-radius);
    font-size: 1.2em;
    font-weight: var(--btn-font-weight);
    cursor: pointer;
    z-index: 10000;
    padding: 5px;
}

.console-close-button:hover {
    background: #ff3333;
}
