html, body {
    color: var(--color-main);
    background: var(--color-main-bg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    min-width: 100%;
}

.main-content {
    position: sticky;
    margin-left: 180px;
    padding: 20px;
}

.button, .action-button, .template-button, .template-list-button,
.nodes-button, .settings-button {
    background: var(--color-btn);
    color: var(--color-btn-text);
    font-size: 1em;
    text-decoration: none;
}

.button:hover, .action-button:hover, .template-button:hover, .template-list-button:hover,
.nodes-button:hover, .settings-button:hover {
    background: var(--color-btn-hover);
}

input {
    width: auto;
    max-width: 100%;
    display: block;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    color: var(--color-text-primary);
    border: 1px solid var(--color-border);
    background: var(--color-secondary-bg);
}

input[type="hidden"] {
    display: none;
}

input[type="checkbox"] {
    width: auto;       /* default small size */
    height: auto;
    margin: 0;         /* adjust if needed */
}

pre {
    background: #111;
    font-size: 1.2em;
    color: #14c514;
    padding: 10px;
    margin-top: 15px;
    max-height: 300px;
    overflow: auto;
    border-radius: 4px;
}

.error {
    color: #ff6666;
}
