.navbar {
    background-color: var(--color-secondary-bg);
    position: sticky;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid var(--color-input-border);
}

.navbar-left {
    order: 0;
    flex: 0;
}

.navbar-right {
    order: 2;
    flex: 1;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.navbar-center {
    order: 1;
    flex: 0 1 auto;
    margin-right: auto;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.navbar-center .logo {
    height: 36px;
}

.navbar-center .title {
    color: var(--color-text-primary);
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px;
}

.navbar-center a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.navbar-left .button,
.navbar-right .button {
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    margin: var(--btn-margin);
    color: var(--color-btn-text);
    border-radius: var(--btn-radius);
}

.navbar-left-hamburger-menu {
    display: none;
    border: none;
    background-color: var(--color-secondary-bg);
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    font-size: 1.2em;
    margin: var(--btn-margin);
    border-radius: var(--btn-radius);
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navbar-right-hamburger-menu {
    display: none;
    background: var(--color-secondary-bg);
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    margin: var(--btn-margin);
    border-radius: var(--btn-radius);
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navbar-right-hamburger-menu span {
    display: flex;
    width: 23px;
    height: 2px;
    background-color: var(--color-text-primary);
}

.navbar-left-hamburger-menu span {
    display: flex;
}

@media (max-width: 720px) {
    .navbar-right-hamburger-menu {
        order: 2;
        display: flex;
        justify-content: flex-end;
    }
    
    .navbar-left-hamburger-menu {
        order: 0;
        display: flex;
        justify-content: flex-start;
    }
    
    .navbar-center {
        order: 1;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .navbar-right {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 10px;
        background: var(--color-secondary-bg);
        padding: var(--btn-padding);
        z-index: 1001;
    }

    .navbar-right.open {
        display: inline;
    }

    .navbar-right .button {
        display: block;
        margin: var(--btn-margin);
        text-align: center;
        padding: var(--btn-padding);
    }
}