.nodes-table {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-secondary-bg);
  margin-top: 1em;
  font-family: Arial, sans-serif;
}

.nodes-table td {
  padding: 8px;
}

.nodes-table th {
  background-color: var(--bastille-dark-red);
  color: var(--color-text-secondary);
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.nodes-button {
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    margin: var(--btn-margin);
    color: var(--color-btn-text);
    border-radius: var(--btn-radius);
}