.list-buttons {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.list-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.template-button {
    display: flex;
    margin-top: 10px;
}

.option-sub {
    display: none;
    margin-left: 28px;
    margin-bottom: 8px;
}

.option-row {
    display: flex;
    align-items: left;
    gap: 10px;
    margin-bottom: 8px;
}

.option-row input[type="checkbox"] {
    margin-top: 0;
}

.action-button, form button {
    border: none;
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    font-size: 1.2em;
    margin: var(--btn-margin);
    color: var(--color-btn-text);
    border-radius: var(--btn-radius);
    cursor: pointer;
}