.list-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-buttons button {
    width: fit-content;
    padding: 10px;
}

.option-sub {
    display: none;
    margin-left: 28px;
    margin-bottom: 8px;
}

.option-row {
    display: flex;
    align-items: left;
    gap: 10px;
    margin-bottom: 8px;
}

.option-row input[type="checkbox"] {
    margin-top: 0;
}