:root {
    --bastille-dark-red: #a61e1e;   /* Left side of logo */
    --bastille-light-red: #d91e1e;  /* Right side of logo */

    --color-text-primary: black;
    --color-text-secondary: #ffffff;

    --color-main: #black; /* black */
    --color-main-bg: #ffffff; /* white */
    --color-secondary-bg: #f2f2f2; /* white */
    --color-border: black;

    --color-input-bg: #ffffff;
    --color-input-border: #f2f2f2;

    --color-jail-panel: var(--color-secondary-bg);
    --color-jail-panel-border: #e2e8f0;
    --color-jail-panel-hover: black;
    --color-jail-panel-shadow: 0 0px 15px rgba(0,0,0,0.5);
    --color-jail-panel-shadow-hover: 0 0px 40px rgba(0,0,0,0.5);

    --color-btn: var(--bastille-dark-red);
    --color-btn-hover: var(--bastille-light-red);
    --color-btn-text: #ffffff;

    --btn-padding: 5px 10px;
    --btn-margin: 2px 2px;
    --btn-radius: 5px;
    --btn-font-weight: 600;

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: white; /* white */
        --color-main-bg: black; /* zinc950 */
        --color-secondary-bg: #27272a; /* dark grey */
        --color-border: f2f2f2;

        --color-text-primary: white;
        --color-text-secondary: #ffffff;
		
        --color-input-bg: #1a1a1a;
        --color-input-border: #333333;
		
        --color-jail-panel: var(--color-secondary-bg);
        --color-jail-panel-shadow: 0 0 10px #fff;
        --color-jail-panel-border: none;
        --color-jail-panel-hover: orange;
        --color-jail-panel-shadow-hover: 0 0 30px #fff;
    }
}
