:root {
    --bastille-dark-red: #a61e1e;
    --bastille-light-red: #d91e1e;
    --color-text-primary: black;
    --color-text-secondary: #ffffff;
    --color-main: #black;
    --color-main-bg: #f2f2f2;
    --color-secondary-bg: #e6e6e6;
    --color-border: #d9d9d9;
    --color-input-bg: var(--color-secondary-bg);
    --color-jail-panel: var(--color-secondary-bg);
    --color-jail-panel-border: #e2e8f0;
    --color-jail-panel-hover: black;
    --color-jail-panel-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    --color-jail-panel-shadow-hover: 0 0px 40px rgba(0, 0, 0, 0.5);
    --color-btn: var(--bastille-dark-red);
    --color-btn-hover: var(--bastille-light-red);
    --color-btn-text: #ffffff;
    --btn-padding: 5px 10px;
    --btn-margin: 2px 2px;
    --btn-radius: 5px;
    --btn-font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #ffffff; /* white */
        --color-main-bg: #1a1a1a; /* zinc950 */
        --color-secondary-bg: #262626; /* dark grey */
        --color-border: #333333;

        --color-text-primary: #ffffff;
        --color-text-secondary: #ffffff;
		
        --color-input-bg: var(--color-secondary-bg);
		
        --color-jail-panel: var(--color-secondary-bg);
        --color-jail-panel-shadow: 0 0 10px #fff;
        --color-jail-panel-border: none;
        --color-jail-panel-hover: orange;
        --color-jail-panel-shadow-hover: 0 0 30px #fff;
    }
}
