{{define "h2"}}Restart Jail(s){{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name" required>
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-b">
            <label>Respect jail boot setting.</label>
        </div>

        <div class="option-row">
            <input type="checkbox"
                   class="option-checkbox"
                   value="-d"
                   data-has-value="true"
                   data-target="delayInput">
            <label>Time (seconds) to wait after starting each jail.</label>
        </div>
        <div class="option-sub" id="delayInput" style="display:none;">
            <input type="text" placeholder="Delay (seconds)">
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-i">
            <label>Ignore stopped jails (do not start if stopped).</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-v">
            <label>Enable verbose mode.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}