{{define "h2"}}ZFS Management{{end}}
{{define "content"}}
<form method="post" onsubmit="updateOptions()">

    <input name="target" placeholder="Jail Name">
    <!-- Dropdown for action -->
    <select name="action" required>
        <option value="">Select action</option>
        <option value="snapshot">Snapshot</option>
        <option value="destroy">Destroy</option>
        <option value="rollback">Rollback</option>
        <option value="df">DF</option>
        <option value="usage">Usage</option>
        <option value="get">Get</option>
        <option value="set">Set</option>
        <option value="jail">Jail</option>
        <option value="unjail">Unjail</option>
    </select>
    <input name="tag" placeholder="Tag">
    <input name="key_value" placeholder="Key=Value">
    <input name="dataset" placeholder="Dataset">
    <input name="jail_path" placeholder="Jail Path">
    <input type="hidden" name="options" id="options">

    <fieldset>
        <legend>Options:</legend>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-a">
            <label>Auto mode. Start/stop jail(s) if required.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-v">
            <label>Enable verbose mode.</label>
        </div>

        <div class="option-row">
            <input type="checkbox" class="option-checkbox" value="-x">
            <label>Enable debug mode.</label>
        </div>

    </fieldset>

    <button type="submit">GO!</button>
</form>

{{if .Output}}<pre>{{.Output}}</pre>{{end}}
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
{{end}}