{{ define "navbar" }}
<nav class="navbar">
  <div class="navbar-left">
    <a href="https://bastillebsd.org">
      <img src="/static/bastille-logo.png" alt="Bastille Logo" class="logo">
      <span class="title">BastilleBSD</span>
    </a>

    <div class="node-selector">
      <form method="POST" action="/api/v1/node/select">
        <select name="node" onchange="this.form.submit()">
          <option disabled {{ if not .ActiveNode }}selected{{ end }}>Select Node</option>
          {{ range .Nodes }}
          <option value="{{ .Name }}" {{ if and $.ActiveNode (eq .Name $.ActiveNode.Name) }}selected{{ end }}>
            {{ .Name }}
          </option>
          {{ end }}
        </select>
      </form>
    </div>
	<a href="/nodes" class="button">Nodes</a>
  </div>

  <div class="navbar-right">
    <a href="/" class="button">Home</a>
    <a href="https://bastille.readthedocs.io" class="button" target="_blank">Docs</a>
    <a href="/settings" class="button">Settings</a>
    <a href="/logout" class="button">Logout</a>
  </div>
</nav>
{{ end }}
