{
  "user": "admin",
  "password": "admin",
  "host": "localhost",
  "port": "8080",
  "nodes": [
    {
      "name": "node1",
      "host": "localhost",
      "port": "8888",
      "keyid": "bastille",
      "key": "bastille-api-key"
    }
  ]
}
